@page "{id:guid}"
@using Kendo.Mvc.UI
@model DeleteModel

@{
    ViewData["Title"] = "Delete Role";
}

<div class="row">
    <div class="col">
        <hr/>
        <div class="row">
            <div class="col">
                <h2>
                    <i class="fal fa-id-badge"></i> @ViewData["Title"]
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr/>
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Role.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Role.Name)
            </dd>
        </dl>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr/>
        @(Html.Kendo().Grid(Model.Users)
              .Name("usersGrid")
              .ToolBar(toolbar => toolbar.ClientTemplate("<h4><i class='fal fa-user'></i> Users</h4>"))
              .Columns(columns => columns.Bound(c => c.UserName))
              .Sortable(sort => sort.AllowUnsort(false))
              .Filterable(filterable => filterable.Mode(GridFilterMode.Row))
              .Pageable(pageable => pageable.ButtonCount(5))
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .Sort(sort => sort.Add(nameof(Models.User.UserName)).Ascending())
                  .PageSize(5)
                  .ServerOperation(false))
              .ClientRowTemplate(
                  "<tr data-uid='#: uid #'>" +
                  "<td>" +
                  "<a href='/users/details/#:data.Id#'>#:data.UserName#</a>" +
                  "</td>" +
                  "</tr>"))
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <input type="hidden" asp-for="Role.Id"/>
            <div class="row">
                <div class="col">
                    <hr/>
                    <h4>
                        <button type="submit" class="btn btn-danger" title="Delete Role">
                            Delete
                        </button> |
                        <a asp-page="./Details" asp-route-id="@Model.Role.Id" title="Role Details">
                            <i class="fal fa-info-square"></i> Details
                        </a> |
                        <a asp-page="./Index" title="Roles">
                            <i class="fal fa-list"></i> List
                        </a>
                    </h4>
                </div>
            </div>
        </form>
        <hr/>
    </div>
</div>
