@{
    var id = int.Parse($"{ViewContext.RouteData.Values["id"]}");
    var activePage = System.IO.Path.GetFileNameWithoutExtension(ViewContext.ActionDescriptor.DisplayName);
}

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @(string.Equals(activePage, "Index", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
           title="Edit API Resource Details"
           asp-page="./Index"
           asp-route-id="@id">
            Edit Details
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(string.Equals(activePage, "ClaimTypes", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
           title="Edit API Resource Claim Types"
           asp-page="./ClaimTypes"
           asp-route-id="@id">
            Edit Claim Types
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(string.Equals(activePage, "Properties", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
           title="Edit API Resource Properties"
           asp-page="./Properties"
           asp-route-id="@id">
            Edit Properties
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(string.Equals(activePage, "Scopes", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
           title="Edit API Resource Scopes"
           asp-page="./Scopes"
           asp-route-id="@id">
            Edit Scopes
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @(string.Equals(activePage, "Secrets", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
           title="Edit API Secrets"
           asp-page="./Secrets"
           asp-route-id="@id">
            Edit Secrets
        </a>
    </li>
</ul>
