@page "{id:int}"
@using IdentityServer4.EntityFramework.Entities
@using Kendo.Mvc.UI
@model SecretsModel

@{
    ViewData["Title"] = $"Edit \"{Model.Client.ClientName}\" Secrets";
}

<form method="post" id="client">
    <input type="hidden" asp-for="Client.Id" />
    @{
        var clientSecrets = Model.Secrets.ToArray();
        for (var i = 0; i < clientSecrets.Length; i++)
        {
            <input type="hidden" name="Client.ClientSecrets[@i].Id" value="@clientSecrets[i].Id" />
            <input type="hidden" name="Client.ClientSecrets[@i].Type" value="@clientSecrets[i].Type" />
            <input type="hidden" name="Client.ClientSecrets[@i].Value" value="@clientSecrets[i].Value" />
            <input type="hidden" name="Client.ClientSecrets[@i].Description" value="@clientSecrets[i].Description" />
            <input type="hidden" name="Client.ClientSecrets[@i].Expiration" value="@clientSecrets[i].Expiration" />
        }
    }
    @(Html.Kendo().Grid(Model.Secrets)
          .Name("secretsGrid")
          .ToolBar(toolbar => toolbar.ClientTemplateId("secretsToolbarTemplate"))
          .Editable(editable => editable
              .Mode(GridEditMode.InCell)
              .DisplayDeleteConfirmation(false))
          .Columns(columns =>
          {
              columns.Bound(clientSecret => clientSecret.Type);
              columns.Bound(clientSecret => clientSecret.Value);
              columns.Command(command =>
              {
                  command.Custom("Edit").IconClass("k-icon k-i-edit").Click("secretEdit");
                  command.Destroy();
              }).Width(200);
          })
          .Sortable(sort => sort.AllowUnsort(false))
          .Filterable(filterable => filterable.Mode(GridFilterMode.Menu))
          .Pageable(pageable => pageable.ButtonCount(5))
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(model =>
              {
                  model.Field(clientSecret => clientSecret.Type).Editable(false);
                  model.Field(clientSecret => clientSecret.Value).Editable(false);
              })
              .Sort(sort => sort.Add(nameof(ClientSecret.Type)).Ascending())
              .Events(events => events.Change("secretsChange"))
              .PageSize(5)
              .Batch(true)
              .ServerOperation(false)))
    <hr />
    <div class="form-group">
        <h4>
            <button type="submit" title="Save Client Secrets" class="btn btn-primary">
                Save
            </button> |
            <a asp-page="../Details/Secrets" asp-route-id="@Model.Client.Id" title="Client Secrets">
                <i class="fal fa-info-square"></i> Details
            </a> |
            <a asp-page="../Index" title="Clients">
                <i class="fal fa-list"></i> List
            </a>
        </h4>
    </div>
</form>

@(Html.Kendo().Window()
      .Name("secretWindow")
      .Title("Secret")
      .Visible(false)
      .Modal(true)
      .Draggable(true)
      .Events(events => events.Close("secretWindowClose"))
      .Content(@<text>
                   <form id="secretForm">
                       <input id="ClientSecretUid" class="d-none"/>
                       <div class="form-group">
                           <label for="ClientSecretType">Type</label>
                           <input class="form-control" id="ClientSecretType" name="ClientSecretType" type="text" required>
                       </div>
                       <div class="form-group">
                           <label for="ClientSecretValue">Value</label>
                           <input class="form-control" id="ClientSecretValue" name="ClientSecretValue" type="text" required>
                       </div>
                       <div class="form-group">
                           <label for="ClientSecretExpiration">Expiration</label>
                           <br/>
                           @(Html.Kendo().DatePicker().Name("ClientSecretExpiration"))
                       </div>
                       <div class="form-group">
                           <label for="ClientSecretDescription">Description</label>
                           <textarea class="form-control" id="ClientSecretDescription" name="ClientSecretDescription"></textarea>
                       </div>
                       <hr/>
                       <button type="submit" class="k-button k-button-icontext k-primary k-grid-update">
                           <span class="k-icon k-i-check"></span>Save
                       </button>
                       <button type="reset" class="k-button k-button-icontext k-grid-cancel">
                           <span class="k-icon k-i-cancel"></span>Cancel
                       </button>
                   </form>
                </text>))

@section Scripts {
    <script id="secretsToolbarTemplate" type="text/x-kendo-template">
        <h4>
            <i class="fal fa-user-secret"></i> Secrets
            <button class="k-button k-button-icontext k-grid-add float-right">
                <span class="k-icon k-i-plus"></span>Add
            </button>
        </h4>
    </script>

    <script type="text/javascript">
        let secretAction;
        let secretWindow;
        let secretForm;
        let secretFormUid;
        let secretFormValidator;
        let secretsGrid;

        function secretsChange(event) {
            switch (event.action) {
                case 'add':
                    {
                        const dataItem = event.sender.at(event.index);
                        secretFormUid.val(dataItem.uid);
                        secretWindow.open().center();
                        secretAction = 'create';
                    }
                case 'remove':
                    {
                        secretInputsRefresh();
                    }
            }
        }

        const secretEdit = function (event) {
            event.preventDefault();
            secretFormReset();
            secretFormUpdate();
            secretWindow.open().center();
        };

        const secretWindowClose = function (event) {
            if (event.userTriggered) {
                removeGridSecret();
            }
            secretFormReset();
        };

        const secretInputsRefresh = function () {
            $('input[name^="Client.ClientSecrets"]').remove();
            $('#client').append(secretsGrid.dataSource.data().reduce((inputs, secret, index) => {
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Client.ClientSecrets[${index}].Id`,
                    value: secret.Id
                }));
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Client.ClientSecrets[${index}].Description`,
                    value: secret.Description
                }));
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Client.ClientSecrets[${index}].Value`,
                    value: secret.Value
                }));
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Client.ClientSecrets[${index}].Expiration`,
                    value: secret.Expiration
                }));
                inputs.push($('<input>', {
                    type: 'hidden',
                    name: `Client.ClientSecrets[${index}].Type`,
                    value: secret.Type
                }));
                return inputs;
            }, []));
        };

        const secretFormReset = function () {
            secretFormValidator.resetForm();
            secretForm.reset();
            secretAction = undefined;
        };

        const secretFormSubmit = function () {
            updateGridSecret();
            secretInputsRefresh();
            secretFormReset();
            secretWindow.close();
        };

        const secretFormUpdate = function () {
            const row = $(event.toElement).closest('tr');
            const dataItem = secretsGrid.dataItem(row);
            secretFormUid.val(dataItem.uid);
            $('#ClientSecretDescription').val(dataItem.Description);
            $('#ClientSecretValue').val(dataItem.Value);
            $('#ClientSecretExpiration').val(dataItem.Expiration);
            $('#ClientSecretType').val(dataItem.Type);
        };

        const secretFormClose = function () {
            removeGridSecret();
            secretFormReset();
            secretWindow.close();
        };

        const removeGridSecret = function () {
            if (secretAction !== 'create') {
                return;
            }
            const uid = secretFormUid.val();
            const dataItem = secretsGrid.dataSource.getByUid(uid);
            secretsGrid.dataSource.remove(dataItem);
        };

        const updateGridSecret = function () {
            const uid = secretFormUid.val();
            const dataItem = secretsGrid.dataSource.getByUid(uid);
            dataItem.Description = $('#ClientSecretDescription').val();
            dataItem.Value = $('#ClientSecretValue').val();
            dataItem.Expiration = $('#ClientSecretExpiration').val();
            dataItem.Type = $('#ClientSecretType').val();
            secretsGrid.refresh();
        };

        $(function () {
            $.validator.setDefaults({
                errorClass: 'text-danger'
            });

            secretsGrid = $('#secretsGrid').getKendoGrid();
            secretWindow = $('#secretWindow').getKendoWindow();
            secretForm = document.getElementById('secretForm');
            secretFormUid = $('#ClientSecretUid');
            secretFormValidator = $(secretForm).validate({
                submitHandler: secretFormSubmit
            });
            $('#secretWindow button.k-grid-cancel').click(secretFormClose);
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
