@using Microsoft.AspNetCore.Identity
@using Models
@inject SignInManager<User> SignInManager

@{
    var activePath = ViewContext.ActionDescriptor.DisplayName;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>
        Clarity@{if (!string.IsNullOrEmpty((string)ViewData["Title"]))
            { <text>: @ViewData["Title"] </text> }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/kendo-ui/styles/kendo.bootstrap-v4.min.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
        <link rel="stylesheet"
              href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.bootstrap-v4.min.css"
              asp-fallback-href="~/lib/kendo-ui/styles/kendo.bootstrap-v4.min.css"
              asp-fallback-test-class="k-common-test-class"
              asp-fallback-test-property="opacity"
              asp-fallback-test-value="0" />
        <link rel="stylesheet"
              href="https://pro.fontawesome.com/releases/v5.7.1/css/all.css"
              asp-fallback-href="~/lib/font-awesome/css/all.min.css"
              asp-fallback-test-class="fa"
              asp-fallback-test-property="display"
              asp-fallback-test-value="block"
              crossorigin="anonymous"
              integrity="sha384-6jHF7Z3XI3fF4XZixAuSu0gGKrXwoX/w3uFPxC56OtjChio7wtTGJWRW53Nhx6Ev" />
    </environment>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.all.min.js"></script>
        <script src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.all.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.all.min.js"
                asp-fallback-test="window.kendo">
        </script>
        <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.aspnetmvc.min.js"
                asp-fallback-src="~/lib/kendo-ui/js/kendo.aspnetmvc.min.js"
                asp-fallback-test="kendo.data.transports['aspnetmvc-ajax']">
        </script>
    </environment>

</head>
<body>
    <nav class="navbar container fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand"
           href="@(ViewData["Origin"] ?? "/")"
           title="Clarity">Clarity</a>
        @{
            if (SignInManager.IsSignedIn(User))
            {
                <button type="button"
                        class="navbar-toggler"
                        data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarSupportedContent"
                     class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link @(string.Equals(activePath, "/Users/Index", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
                               asp-page="/Users/Index"
                               title="Users">
                                <i class="fal fa-user"></i> Users
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(string.Equals(activePath, "/Roles/Index", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
                               asp-page="/Roles/Index"
                               title="Roles">
                                <i class="fal fa-id-badge"></i> Roles
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(string.Equals(activePath, "/Clients/Index", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
                               asp-page="/Clients/Index"
                               title="Clients">
                                <i class="fal fa-bow-arrow"></i> Clients
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(string.Equals(activePath, "/Apis/Index", StringComparison.OrdinalIgnoreCase) ? "active" : null)"
                               asp-page="/Apis/Index"
                               title="APIs">
                                <i class="fal fa-bullseye-arrow"></i> APIs
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               asp-page="/Account/Logout"
                               title="Logout">
                                <i class="fal fa-sign-out"></i> Logout
                            </a>
                        </li>
                    </ul>
                </div>
            }
        }
    </nav>

    <div class="container py-5">
        @RenderBody()
    </div>

    <nav class="navbar container fixed-bottom navbar-light bg-light">
        <span class="navbar-brand">
            &copy;2018 Clarity Ventures, Inc.
        </span>
    </nav>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
