@page "{id:int}"
@model DeleteModel

@{
    ViewData["Title"] = $"Delete \"{Model.ApiResource.Name}\"";
}

<div class="row">
    <div class="col">
        <hr />
        <div class="row">
            <div class="col">
                <h2>
                    <i class="fal fa-bullseye-arrow"></i> @ViewData["Title"]
                </h2>
            </div>
        </div>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.ApiResource.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ApiResource.Name)
            </dd>
            @{
                if (!string.IsNullOrEmpty(Model.ApiResource.DisplayName))
                {
                    <dt>
                        @Html.LabelFor(model => model.ApiResource.DisplayName, "Display Name")
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ApiResource.DisplayName)
                    </dd>
                }
                if (!string.IsNullOrEmpty(Model.ApiResource.Description))
                {
                    <dt>
                        @Html.DisplayNameFor(model => model.ApiResource.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.ApiResource.Description)
                    </dd>
                }
            }
        </dl>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col">
        <form method="post">
            <input type="hidden" asp-for="ApiResource.Id" />
            <h4>
                <button type="submit" class="btn btn-danger" title="Delete API Resource">
                    Delete
                </button> |
                <a asp-page="./Details/Index" asp-route-id="@Model.ApiResource.Id" title="API Resource Details">
                    <i class="fal fa-info-square"></i> Details
                </a> |
                <a asp-page="./Index" title="API Resources">
                    <i class="fal fa-list"></i> List
                </a>
            </h4>
        </form>
        <hr />
    </div>
</div>
